# vim: set ft=toml :


[workspace]
name = 'taskfile-library'
channels = ['conda-forge']
platforms = [
  'linux-64',
  'linux-aarch64',
  'osx-64',
  'osx-arm64',
]


[environments]
default = { solve-group = 'default' }
lint = { features = ['lint'], solve-group = 'default' }


[feature.lint.dependencies]
prek = { version = '>=0.3.2' }

[feature.lint.tasks]
lint = { depends-on = ['prek-run'] }
# https://github.com/prefix-dev/pixi/discussions/1897
prek-install = { cmd = ['prek', 'install', '-f'] }
prek-run = { cmd = ['prek', 'run', '--all-files'] }
